.teste{
    border: 3px solid black;
    height: 100vh;
    display: flex;
}
.Teste{
    justify-content:end;
    gap: 50px;
    list-style: none;
}
.img{
    display: flex;
    justify-content: center
}




    

